body {
  margin: 0;
}

.make_space {
  margin-inline: 1rem;
}

.sticky {
  position: fixed;
  top: 0;
}

#navbar {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0;
  #bau-logo {
    padding: 10px;
    margin-inline: 3rem;
  }
  .nav_text {
    padding: 10px;
    margin-inline: 3rem;
    margin-top: 1.5rem;
    a {
      margin-inline: 15px;
      &:hover {
        color: #18bc9c;
        background-color: transparent;
      }
      text-decoration: none;
      color: whitesmoke;
    }
  }

  background-color: #2c3e50;
  width: 100%;
  height: auto;
}
